// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";


// Write your sass code here or import partials

h1,h2{
  color: tomato;
  border: 2px solid red;
}
h3 {
  color: blue;
}
.hello {
  border: 2px solid red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}